body {
    background: #D7FD9B;
    color: white;
}

header {
    width: 100%;
    height: 120px;
    background: #7BA736;
    padding-top: 16px;
    padding-bottom: 16px;
}

form {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 300px;
    margin: 0 auto;
}

form p {
    color: #3C591E;
}

.search {
    display: flex;
    flex-direction: row;

}